body{
    margin: 0;
    padding: 0;
}
#header{
    background-color: #f1f1f1; /* Grey background */
    padding: 50px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 90px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
#header a{
    text-decoration: none;
    font-size: 15px;
    color:#333;
}
.banner{
    background-image: url(../img/00.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.content{
    padding:15px 15px 2000px;
    margin-top: 35px;
    font-size: 18px;
    line-height: 2.5;
}